<div class="container__big-cards">

  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiKeTsm26jLOx1RQhXGkRSPWNj2tCeMKdUA&s"
      alt=""
      height="200px"
    />
  </div>

  <div class="big-card__title">
    <a href="#"><h1>Nova versão Java 21</h1></a>
  </div>

  <div class="big-card__description">
    <a href="#">
    <p>
      O Java 21 trouxe melhorias como padrões de registro, correspondência para
      switch e virtual threads com Project Loom, otimizando a concorrência. Além
      disso, aprimorou o GraalVM e introduziu novas APIs. Sendo uma versão LTS,
      garante suporte prolongado, tornando o Java ainda mais eficiente e moderno
      para desenvolvedores.
    </p>
  </a>
  </div>

</div>
