.container__small-card {
  width: 700px;
  margin-top: 15px;
}

.container__small-card__content {
  flex-direction: row;
  display: flex;
}

.small-card__photo > a > img {
  width: 200px;
  min-width: 200px;
}

.small-card__title {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__small-card__separator {
  margin-top: 10px;
}
